/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;
/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;
@layer base {
  * {
    @apply box-border;
  }
  html, body {
    @apply text-contrast font-main p-0 m-0 box-border;
  }
  .paragraph {
    @apply text font-regular;
  }
  .paragraph-xxs {
    @apply text-xxs;
  }
  .paragraph-xs {
    @apply text-xs;
  }
  .paragraph-sm {
    @apply text-sm;
  }
  .paragraph-lg {
    @apply text-lg;
  }
  .paragraph-bold {
    @apply font-bold;
  }
  .paragraph-italic {
    @apply italic;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-title m-0 uppercase;
  }
  h1 .underline, h2 .underline, h3 .underline, h4 .underline, h5 .underline, h6 .underline,
  .h1 .underline, .h2 .underline, .h3 .underline, .h4 .underline, .h5 .underline, .h6 .underline {
    @apply relative no-underline text-secondary z-10 after:content-[""] after:absolute after:bottom-0 after:left-0 after:m-auto after:w-full after:h-[6px] after:block after:bg-[url("../img/underline.svg")] after:bg-center after:bg-[length:100%_100%] after:bg-no-repeat after:z-0;
  }
  h1 .highlight, h2 .highlight, h3 .highlight, h4 .highlight, h5 .highlight, h6 .highlight,
  .h1 .highlight, .h2 .highlight, .h3 .highlight, .h4 .highlight, .h5 .highlight, .h6 .highlight {
    @apply relative z-10 after:content-[""] after:absolute after:top-0 after:left-[-5px] after:m-auto after:w-[110%] after:h-[110%] after:block after:bg-[url("../img/hightlight.svg")] after:bg-center after:bg-[length:100%_100%] after:bg-no-repeat after:z-0;
  }
  h1 .highlight span, h1 .highlight-text, h2 .highlight span, h2 .highlight-text, h3 .highlight span, h3 .highlight-text, h4 .highlight span, h4 .highlight-text, h5 .highlight span, h5 .highlight-text, h6 .highlight span, h6 .highlight-text,
  .h1 .highlight span,
  .h1 .highlight-text, .h2 .highlight span, .h2 .highlight-text, .h3 .highlight span, .h3 .highlight-text, .h4 .highlight span, .h4 .highlight-text, .h5 .highlight span, .h5 .highlight-text, .h6 .highlight span, .h6 .highlight-text {
    @apply relative z-10 text-white;
  }
  h1 .stripe.stripe-blue, h2 .stripe.stripe-blue, h3 .stripe.stripe-blue, h4 .stripe.stripe-blue, h5 .stripe.stripe-blue, h6 .stripe.stripe-blue,
  .h1 .stripe.stripe-blue, .h2 .stripe.stripe-blue, .h3 .stripe.stripe-blue, .h4 .stripe.stripe-blue, .h5 .stripe.stripe-blue, .h6 .stripe.stripe-blue {
    @apply relative z-20 leading-[4rem] pl-6 pr-4 after:content-[""] after:absolute after:top-0 after:left-[-15px] after:m-auto after:w-[115%] after:h-[100%] after:block after:bg-[url("../img/stripe-blue.svg")] after:bg-center after:bg-[length:100%_100%] after:bg-no-repeat after:z-10;
  }
  h1 .stripe.stripe-blue .stripe-blue-text, h1 .stripe.stripe-blue span, h2 .stripe.stripe-blue .stripe-blue-text, h2 .stripe.stripe-blue span, h3 .stripe.stripe-blue .stripe-blue-text, h3 .stripe.stripe-blue span, h4 .stripe.stripe-blue .stripe-blue-text, h4 .stripe.stripe-blue span, h5 .stripe.stripe-blue .stripe-blue-text, h5 .stripe.stripe-blue span, h6 .stripe.stripe-blue .stripe-blue-text, h6 .stripe.stripe-blue span,
  .h1 .stripe.stripe-blue .stripe-blue-text,
  .h1 .stripe.stripe-blue span, .h2 .stripe.stripe-blue .stripe-blue-text, .h2 .stripe.stripe-blue span, .h3 .stripe.stripe-blue .stripe-blue-text, .h3 .stripe.stripe-blue span, .h4 .stripe.stripe-blue .stripe-blue-text, .h4 .stripe.stripe-blue span, .h5 .stripe.stripe-blue .stripe-blue-text, .h5 .stripe.stripe-blue span, .h6 .stripe.stripe-blue .stripe-blue-text, .h6 .stripe.stripe-blue span {
    @apply relative z-20 text-white;
  }
  h1 .stripe.stripe-white, h2 .stripe.stripe-white, h3 .stripe.stripe-white, h4 .stripe.stripe-white, h5 .stripe.stripe-white, h6 .stripe.stripe-white,
  .h1 .stripe.stripe-white, .h2 .stripe.stripe-white, .h3 .stripe.stripe-white, .h4 .stripe.stripe-white, .h5 .stripe.stripe-white, .h6 .stripe.stripe-white {
    @apply relative z-10 mt-2 after:content-[""] after:absolute after:top-0 after:left-[-32px] after:m-auto after:min-w-[250px] after:w-[120%] after:h-[100%] after:block after:bg-[url("../img/stripe-white.svg")] after:bg-center after:bg-[length:100%_100%] after:bg-no-repeat after:z-0;
  }
  h1 .stripe.stripe-white .stripe-white-text, h1 .stripe.stripe-white span, h2 .stripe.stripe-white .stripe-white-text, h2 .stripe.stripe-white span, h3 .stripe.stripe-white .stripe-white-text, h3 .stripe.stripe-white span, h4 .stripe.stripe-white .stripe-white-text, h4 .stripe.stripe-white span, h5 .stripe.stripe-white .stripe-white-text, h5 .stripe.stripe-white span, h6 .stripe.stripe-white .stripe-white-text, h6 .stripe.stripe-white span,
  .h1 .stripe.stripe-white .stripe-white-text,
  .h1 .stripe.stripe-white span, .h2 .stripe.stripe-white .stripe-white-text, .h2 .stripe.stripe-white span, .h3 .stripe.stripe-white .stripe-white-text, .h3 .stripe.stripe-white span, .h4 .stripe.stripe-white .stripe-white-text, .h4 .stripe.stripe-white span, .h5 .stripe.stripe-white .stripe-white-text, .h5 .stripe.stripe-white span, .h6 .stripe.stripe-white .stripe-white-text, .h6 .stripe.stripe-white span {
    @apply relative z-30 text-contrast;
  }
  h1 .stripe.stripe-inline.stripe-blue, h1 .stripe.stripe-inline.stripe-white, h2 .stripe.stripe-inline.stripe-blue, h2 .stripe.stripe-inline.stripe-white, h3 .stripe.stripe-inline.stripe-blue, h3 .stripe.stripe-inline.stripe-white, h4 .stripe.stripe-inline.stripe-blue, h4 .stripe.stripe-inline.stripe-white, h5 .stripe.stripe-inline.stripe-blue, h5 .stripe.stripe-inline.stripe-white, h6 .stripe.stripe-inline.stripe-blue, h6 .stripe.stripe-inline.stripe-white,
  .h1 .stripe.stripe-inline.stripe-blue,
  .h1 .stripe.stripe-inline.stripe-white, .h2 .stripe.stripe-inline.stripe-blue, .h2 .stripe.stripe-inline.stripe-white, .h3 .stripe.stripe-inline.stripe-blue, .h3 .stripe.stripe-inline.stripe-white, .h4 .stripe.stripe-inline.stripe-blue, .h4 .stripe.stripe-inline.stripe-white, .h5 .stripe.stripe-inline.stripe-blue, .h5 .stripe.stripe-inline.stripe-white, .h6 .stripe.stripe-inline.stripe-blue, .h6 .stripe.stripe-inline.stripe-white {
    @apply inline-block py-3 px-6;
    transform: translate(-10px, 20px);
  }
  h1, .h1 {
    @apply text-[44px] leading-10;
  }
  h2, .h2 {
    @apply text-[40px] leading-10;
  }
  h3, .h3 {
    @apply text-[36px] leading-10;
  }
  h4, .h4 {
    @apply text-[32px];
  }
  h5, .h5 {
    @apply text-[26px];
  }
  h6, .h6 {
    @apply text-[22px];
  }
  .light {
    @apply font-light;
  }
  .bold {
    @apply font-bold;
  }
  .regular {
    @apply font-regular;
  }
  .subtitle {
    @apply text-neutral text text-center m-0;
  }
}
.menu-tracker {
  @apply opacity-0 lg:opacity-100 absolute z-10 bg-secondary-600 h-2 rounded -top-[4px];
  transition: all 200ms cubic-bezier(0.57, 0, 0.63, 1.46); /* custom */
}

@layer utilities {
  .bg-blur {
    @apply bg-contrast/80 backdrop-blur;
  }
  .brick {
    @apply shadow-lg rounded-lg hover:shadow-sm transition-all hover:translate-y-1 h-full;
  }
  .brick .brick-image {
    @apply transition-all min-h-[240px] w-full bg-[length:100%_auto] bg-center rounded;
  }
  .brick:hover .h1, .brick:hover .h2, .brick:hover .h3, .brick:hover .h4, .brick:hover .h5, .brick:hover .h6 {
    @apply text-secondary;
  }
  .brick:hover .h1 svg .svgText, .brick:hover .h2 svg .svgText, .brick:hover .h3 svg .svgText, .brick:hover .h4 svg .svgText, .brick:hover .h5 svg .svgText, .brick:hover .h6 svg .svgText {
    @apply fill-secondary stroke-[25px];
  }
  .brick:hover .brick-image {
    @apply bg-[length:110%_auto];
  }
  .brick .h1, .brick .h2, .brick .h3, .brick .h4, .brick .h5, .brick .h6 {
    @apply -mt-8 transition-all;
  }
  .brick .h1 svg, .brick .h2 svg, .brick .h3 svg, .brick .h4 svg, .brick .h5 svg, .brick .h6 svg {
    @apply text-center w-full;
  }
  .brick .h1 svg .svgText, .brick .h2 svg .svgText, .brick .h3 svg .svgText, .brick .h4 svg .svgText, .brick .h5 svg .svgText, .brick .h6 svg .svgText {
    @apply fill-contrast stroke-white stroke-[15px] w-full font-bold transition-all;
    stroke-linejoin: round;
    paint-order: stroke;
  }
  .brick p {
    @apply paragraph-lg px-6 text-contrast/80 hover:text-contrast;
  }
  .brick-feature {
    @apply flex lg:flex-row flex-col flex-row mt-32 p-0 lg:px-8 xl:px-0;
  }
  .brick-feature.revert {
    @apply flex lg:flex-row-reverse flex-col flex-row;
  }
  .brick-feature.revert .brick-feature-text {
    @apply text-center lg:text-left;
  }
  .brick-feature.revert .brick-feature-image {
    @apply text-center lg:text-left;
  }
  .brick-feature .brick-feature-text {
    @apply lg:basis-1/3 lg:text-right p-8 basis-full m-auto  text-center;
  }
  .brick-feature .brick-feature-text.half {
    @apply lg:basis-1/2 basis-full;
  }
  .brick-feature .brick-feature-text_title {
    @apply h3 font-bold leading-[3rem];
  }
  .brick-feature .brick-feature-text_desc {
    @apply paragraph text-contrast self-center;
  }
  .brick-feature .brick-feature-image {
    @apply lg:basis-2/3 border border-solid border-neutral-400 rounded-xl overflow-hidden text-left basis-full;
  }
  .brick-feature .brick-feature-image.half {
    @apply lg:basis-1/2 basis-full;
  }
  .brick-feature .brick-feature-image.no-border {
    @apply border-none;
  }
  .brick-feature .brick-feature-image video {
    @apply w-full h-full object-cover;
  }
  .brick-feature .brick-feature-image > .img-brick {
    @apply xl:w-[1024px] hidden sm:block h-auto xl:h-[280px];
  }
  .brick-feature .brick-feature-image > .img-brick-mobile {
    @apply block sm:hidden;
  }
  .cursor {
    @apply cursor-pointer fixed z-50 left-0 top-0 pointer-events-none will-change-transform mix-blend-difference;
  }
  @media (hover: hover) and (pointer: fine) {
    .cursor .cursor__circle {
      @apply w-8 h-8 mt-[-50%] ml-[-50%] rounded-full border border-solid border-neutral-300/65;
      transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .cursor.arrow {
      @apply after:content-[""] after:absolute after:left-[-50%] after:top-[-50%] after:w-full after:h-full after:bg-[url("https://svgshare.com/i/MzQ.svg")] after:bg-no-repeat after:bg-center;
    }
    .cursor.arrow .cursor__circle {
      @apply w-16 h-16 rounded-xl border-secondary cursor-pointer;
    }
    .cursor.subtle .cursor__circle {
      @apply opacity-20;
    }
    .cursor.overlay .cursor__circle {
      @apply w-6 h-6 bg-contrast/10 border-transparent;
    }
  }
  .container {
    @apply max-w-screen-2xl mx-auto relative h-full lg:px-8 px-0;
  }
}
@layer components {
  .btn-wrapper {
    @apply flex;
  }
  .btn-wrapper .btn {
    @apply block first:mr-0 mr-2;
  }
  .btn-wrapper .btn.btn-primary, .btn-wrapper .btn.btn-secondary, .btn-wrapper .btn.btn-contrast, .btn-wrapper .btn.btn-neutral, .btn-wrapper .btn.btn-danger, .btn-wrapper .btn.btn-warning, .btn-wrapper .btn.btn-success, .btn-wrapper .btn.btn-light {
    @apply block first:ml-0 ml-2;
  }
  .btn {
    @apply p-3 rounded inline-block text-center text-base text-neutral-100 bg-contrast font-main font-regular no-underline flex items-center;
  }
  .btn.btn-inline-block {
    @apply inline-block;
  }
  .btn > *:nth-child(2) {
    @apply pl-2;
  }
  .btn.btn-primary {
    @apply bg-primary;
  }
  .btn.btn-primary .btn-label {
    @apply text-white;
  }
  .btn.btn-secondary {
    @apply bg-secondary hover:bg-secondary-600;
  }
  .btn.btn-secondary .btn-label {
    @apply text-white;
  }
  .btn.btn-contrast {
    @apply bg-contrast hover:bg-contrast-500;
  }
  .btn.btn-contrast .btn-label {
    @apply text-white;
  }
  .btn.btn-neutral {
    @apply bg-neutral hover:bg-neutral-800;
  }
  .btn.btn-neutral .btn-label {
    @apply text-white;
  }
  .btn.btn-danger {
    @apply bg-danger hover:bg-danger-800;
  }
  .btn.btn-danger .btn-label {
    @apply text-white;
  }
  .btn.btn-warning {
    @apply bg-warning hover:bg-warning-600;
  }
  .btn.btn-warning .btn-label {
    @apply text-white;
  }
  .btn.btn-success {
    @apply bg-success hover:bg-success-800;
  }
  .btn.btn-success .btn-label {
    @apply text-white;
  }
  .btn.btn-light {
    @apply bg-white text-contrast hover:bg-neutral-100;
  }
  .btn.btn-light .btn-label {
    @apply text-contrast;
  }
  .btn.btn-border {
    @apply border border-solid bg-transparent p-[calc(0.75rem-1px)];
  }
  .btn.btn-border.btn-primary {
    @apply border-primary text-primary;
  }
  .btn.btn-border.btn-secondary {
    @apply border-secondary text-secondary hover:bg-secondary-600/10;
  }
  .btn.btn-border.btn-contrast {
    @apply border-contrast text-contrast hover:bg-contrast/10;
  }
  .btn.btn-border.btn-neutral {
    @apply border-neutral text-neutral hover:bg-neutral-800/10;
  }
  .btn.btn-border.btn-danger {
    @apply border-danger text-danger hover:bg-danger-800/10;
  }
  .btn.btn-border.btn-warning {
    @apply border-warning text-warning hover:bg-warning-600/10;
  }
  .btn.btn-border.btn-success {
    @apply border-success text-success hover:bg-success-800/10;
  }
  .btn.btn-border.btn-light {
    @apply border-white text-white hover:bg-white/10;
  }
  .btn.btn-ghost {
    @apply border-none bg-transparent;
  }
  .btn.btn-ghost.btn-primary {
    @apply text-primary;
  }
  .btn.btn-ghost.btn-secondary {
    @apply text-secondary hover:bg-secondary-600/10;
  }
  .btn.btn-ghost.btn-contrast {
    @apply text-contrast;
  }
  .btn.btn-ghost.btn-neutral {
    @apply text-neutral hover:bg-neutral-800/10;
  }
  .btn.btn-ghost.btn-danger {
    @apply text-danger hover:bg-danger-800/10;
  }
  .btn.btn-ghost.btn-warning {
    @apply text-warning hover:bg-warning-600/10;
  }
  .btn.btn-ghost.btn-success {
    @apply text-success hover:bg-success-800/10;
  }
  .btn.btn-ghost.btn-light {
    @apply text-white hover:bg-white/10;
  }
  .btn.btn-border.btn-primary .btn-label, .btn.btn-ghost.btn-primary .btn-label {
    @apply text-primary;
  }
  .btn.btn-border.btn-secondary .btn-label, .btn.btn-ghost.btn-secondary .btn-label {
    @apply text-secondary;
  }
  .btn.btn-border.btn-contrast .btn-label, .btn.btn-ghost.btn-contrast .btn-label {
    @apply text-contrast;
  }
  .btn.btn-border.btn-neutral .btn-label, .btn.btn-ghost.btn-neutral .btn-label {
    @apply text-neutral;
  }
  .btn.btn-border.btn-danger .btn-label, .btn.btn-ghost.btn-danger .btn-label {
    @apply text-danger;
  }
  .btn.btn-border.btn-warning .btn-label, .btn.btn-ghost.btn-warning .btn-label {
    @apply text-warning;
  }
  .btn.btn-border.btn-success .btn-label, .btn.btn-ghost.btn-success .btn-label {
    @apply text-success;
  }
  .btn.btn-border.btn-light .btn-label, .btn.btn-ghost.btn-light .btn-label {
    @apply text-neutral-100;
  }
  .btn.btn-lg {
    @apply text-lg p-3;
  }
  .btn.btn-sm {
    @apply text-sm p-2;
  }
  .btn.btn-xs {
    @apply text-xs p-1;
  }
  .btn .btn-label {
    @apply self-center text-white;
  }
  .btn .btn-icon, .btn .notification {
    @apply self-center;
  }
  .input-text {
    @apply text-contrast border border-neutral-400 p-1.5 rounded text font-bold;
  }
  .input-text-lg {
    @apply p-3 rounded-md text-lg;
  }
  .input-text-sm {
    @apply p-1 rounded text-sm;
  }
  .input-checkbox {
    @apply appearance-none relative top-0 right-0 bottom-0 left-0 h-5 w-5 bg-white border border-solid border-neutral-400 p-0 text-contrast inline-block outline-none rounded-sm
    before:transition-all before:absolute  before:content-[""] before:bg-transparent before:h-0 before:w-0 before:top-[10px] before:left-[10px]
    after:transition-all after:absolute  before:content-[""] before:bg-transparent before:h-0 before:w-0 before:top-[10px] before:left-[10px]

    checked:before:rounded-sm checked:before:top-[-1px] checked:before:left-[-1px] checked:border-contrast checked:before:bg-contrast checked:before:h-5 checked:before:w-5 checked:before:content-[""] checked:before:absolute

    disabled:opacity-35 disabled:cursor-not-allowed;
  }
  .notification {
    @apply aspect-square w-6 h-6 bg-contrast rounded-full paragraph-bold text-center flex  items-center;
  }
  .notification > .notification-value {
    @apply text-neutral-100 block self-center w-full;
  }
  .notification-lg {
    @apply aspect-square w-8 h-8 paragraph-lg;
  }
  .notification-sm {
    @apply aspect-square w-5 h-5 paragraph-xs;
  }
  .notification-sm > .notification-value {
    @apply pt-0;
  }
  .notification-xs {
    @apply aspect-square w-4 h-4 paragraph-xxs;
  }
  .notification-xs > .notification-value {
    @apply pt-0;
  }
  .notification-xxs {
    @apply aspect-square w-2 h-2;
  }
  .notification-4px {
    @apply aspect-square w-1 h-1;
  }
  .notification-primary {
    @apply bg-primary;
  }
  .notification-secondary {
    @apply bg-secondary;
  }
  .notification-danger {
    @apply bg-danger;
  }
  .notification-success {
    @apply bg-success;
  }
  .notification-warning {
    @apply bg-warning;
  }
  .notification-light {
    @apply bg-white;
  }
  .notification-light > .notification-value {
    @apply text-contrast;
  }
  .notification-border {
    @apply border border-solid bg-transparent;
  }
  .notification-border > .notification-value {
    @apply text-contrast;
  }
  .notification-border.notification-primary {
    @apply border-primary;
  }
  .notification-border.notification-primary > .notification-value {
    @apply text-primary;
  }
  .notification-border.notification-secondary {
    @apply border-secondary hover:bg-secondary-600/10;
  }
  .notification-border.notification-secondary > .notification-value {
    @apply text-secondary;
  }
  .notification-border.notification-contrast {
    @apply border-contrast;
  }
  .notification-border.notification-contrast > .notification-value {
    @apply text-contrast;
  }
  .notification-border.notification-neutral {
    @apply border-neutral hover:bg-neutral-800/10;
  }
  .notification-border.notification-neutral > .notification-value {
    @apply text-neutral;
  }
  .notification-border.notification-danger {
    @apply border-danger hover:bg-danger-800/10;
  }
  .notification-border.notification-danger > .notification-value {
    @apply text-danger;
  }
  .notification-border.notification-warning {
    @apply border-warning hover:bg-warning-600/10;
  }
  .notification-border.notification-warning > .notification-value {
    @apply text-warning;
  }
  .notification-border.notification-success {
    @apply border-success hover:bg-success-800/10;
  }
  .notification-border.notification-success > .notification-value {
    @apply text-success;
  }
  .notification-border.notification-light {
    @apply border-white hover:bg-neutral-200/10;
  }
  .notification-border.notification-light > .notification-value {
    @apply text-white;
  }
  .chip {
    @apply py-1 px-2 rounded bg-contrast text-white flex items-center;
  }
  .chip-lg {
    @apply text-lg;
  }
  .chip-sm {
    @apply text-sm p-0 px-2 rounded-sm;
  }
  .chip-xs {
    @apply text-xs p-0 px-1 rounded-sm;
  }
  .chip.chip-primary {
    @apply bg-primary;
  }
  .chip.chip-secondary {
    @apply bg-secondary hover:bg-secondary-600;
  }
  .chip.chip-contrast {
    @apply bg-contrast;
  }
  .chip.chip-neutral {
    @apply bg-neutral hover:bg-neutral-800;
  }
  .chip.chip-danger {
    @apply bg-danger hover:bg-danger-800;
  }
  .chip.chip-warning {
    @apply bg-warning hover:bg-warning-600;
  }
  .chip.chip-success {
    @apply bg-success hover:bg-success-800;
  }
  .chip.chip-light {
    @apply bg-neutral-100 text-contrast hover:bg-neutral-200;
  }
  .chip.chip-border {
    @apply border border-solid bg-transparent;
  }
  .chip.chip-border.chip-primary {
    @apply border-primary;
  }
  .chip.chip-border.chip-primary > .chip-label {
    @apply text-primary;
  }
  .chip.chip-border.chip-primary > svg {
    @apply stroke-primary;
  }
  .chip.chip-border.chip-secondary {
    @apply border-secondary hover:bg-secondary-600/10;
  }
  .chip.chip-border.chip-secondary > .chip-label {
    @apply text-secondary;
  }
  .chip.chip-border.chip-secondary > svg {
    @apply stroke-secondary;
  }
  .chip.chip-border.chip-contrast {
    @apply border-contrast;
  }
  .chip.chip-border.chip-contrast > .chip-label {
    @apply text-contrast;
  }
  .chip.chip-border.chip-contrast > svg {
    @apply stroke-contrast;
  }
  .chip.chip-border.chip-neutral {
    @apply border-neutral hover:bg-neutral-800/10;
  }
  .chip.chip-border.chip-neutral > .chip-label {
    @apply text-neutral;
  }
  .chip.chip-border.chip-neutral > svg {
    @apply stroke-neutral;
  }
  .chip.chip-border.chip-danger {
    @apply border-danger hover:bg-danger-800/10;
  }
  .chip.chip-border.chip-danger > .chip-label {
    @apply text-danger;
  }
  .chip.chip-border.chip-danger > svg {
    @apply stroke-danger;
  }
  .chip.chip-border.chip-warning {
    @apply border-warning hover:bg-warning-600/10;
  }
  .chip.chip-border.chip-warning > .chip-label {
    @apply text-warning;
  }
  .chip.chip-border.chip-warning > svg {
    @apply stroke-warning;
  }
  .chip.chip-border.chip-success {
    @apply border-success hover:bg-success-800/10;
  }
  .chip.chip-border.chip-success > .chip-label {
    @apply text-success;
  }
  .chip.chip-border.chip-success > svg {
    @apply stroke-success;
  }
  .chip.chip-border.chip-light {
    @apply border-neutral-100 hover:bg-neutral-200/10;
  }
  .chip.chip-border.chip-light > .chip-label {
    @apply text-neutral-100;
  }
  .chip.chip-border.chip-light > svg {
    @apply stroke-neutral-100;
  }
  .chip > .chip-label {
    @apply self-center text-white;
  }
  .chip > .notification {
    @apply self-center mr-2;
  }
  .chip > svg {
    @apply self-center mr-2 w-4 h-4 stroke-white;
  }
  .avatar {
    @apply w-10 aspect-square bg-cover bg-center rounded-md block bg-neutral-300 relative;
  }
  .avatar > .avatar-name {
    @apply top-0 bottom-0 left-0 right-0 m-auto absolute  paragraph-bold text-center h-6;
  }
  .avatar > .notification {
    @apply absolute bottom-[-8px] right-[-8px] text-white border border-4 border-white;
  }
  .avatar-lg {
    @apply w-12;
  }
  .avatar-lg > .avatar-name {
    @apply paragraph-lg paragraph-bold h-6;
  }
  .avatar-sm {
    @apply w-8 rounded;
  }
  .avatar-sm > .avatar-name {
    @apply paragraph-sm paragraph-bold h-5;
  }
  .avatar-sm > .notification {
    @apply bottom-[-6px] right-[-6px];
  }
  .avatar-xs {
    @apply w-7 rounded;
  }
  .avatar-xs > .avatar-name {
    @apply paragraph-xs paragraph-bold  h-5;
  }
  .avatar-xs > .notification {
    @apply bottom-[-6px] right-[-6px];
  }
  .avatar-circle {
    @apply rounded-full;
  }
  .avatars {
    @apply inline-block ml-[20px];
  }
  .avatars .avatar-stack {
    @apply inline-block ml-[-20px] border border-4 border-solid border-white;
  }
  table {
    @apply border border-solid border-neutral-400 rounded-lg mt-4 mb-8;
  }
  table tbody tr th {
    @apply paragraph-lg paragraph-bold bg-neutral-200 text-left py-4 px-8;
  }
  table tbody tr td {
    @apply py-4 px-8;
  }
  .nav-website {
    @apply rounded-lg px-7 py-0 flex relative;
    @apply before:content-[""] before:w-full before:h-full before:absolute before:bg-blur before:z-[-1] before:left-0 before:rounded-lg;
  }
  .nav-website .nav-logo {
    @apply flex grow h-9 self-center;
  }
  .nav-website .nav-logo .nav-logo-full {
    @apply hidden sm:hidden md:block ml-2 lg:w-[262px];
  }
  .nav-website .nav-logo .nav-logo-small {
    @apply block;
  }
  .nav-website .nav-menu {
    @apply flex m-0;
  }
  .nav-website .nav-menu .nav-menu-item {
    @apply self-center list-none;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.col-icons .nav-submenu .nav-submenu-wrapper .menu-item .nav-menu-item-link .sub-menu-wrapper-row .sub-menu-wrapper-image {
    @apply w-[3rem] max-w-[3rem] max-h-[3rem] h-[3rem] rounded-none;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.col-icons .nav-submenu .nav-submenu-wrapper .menu-item .nav-menu-item-link .sub-menu-wrapper-row .sub-menu-wrapper-description .sub-menu-wrapper-description-title {
    @apply text-[18px] leading-6;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.col-4 .nav-submenu .nav-submenu-wrapper .menu-item {
    @apply basis-1/4;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.col-3 .nav-submenu .nav-submenu-wrapper .menu-item {
    @apply basis-1/3;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.col-3 .nav-submenu .nav-submenu-wrapper .nav-menu-item-link .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-image {
    @apply w-[8rem] max-w-[8rem] max-h-[8rem] h-[8rem];
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.last-small .nav-submenu .nav-submenu-wrapper {
    @apply pr-[200px];
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.last-small .nav-submenu .nav-submenu-wrapper .menu-item:last-of-type {
    @apply absolute right-0 basis-0;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.last-small .nav-submenu .nav-submenu-wrapper .menu-item:last-of-type .nav-menu-item-link {
    @apply relative opacity-80 hover:bg-transparent hover:border-transparent w-[200px] text-center py-10  relative before:content-[""] before:absolute before:h-3 before:w-3 before:block before:top-0 before:bottom-0 before:right-8 before:bg-[url("../img/arrow-down.svg")] before:m-auto hover:before:translate-x-1 before:-rotate-90 before:transition-all;
    @apply after:content-[""] after:absolute after:h-[50px] after:w-[1px] after:m-auto after:block after:top-0 after:bottom-0 after:left-2 after:bg-white after:opacity-50;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.last-small .nav-submenu .nav-submenu-wrapper .menu-item:last-of-type .nav-menu-item-link .sub-menu-wrapper-row .sub-menu-wrapper-description-title {
    @apply paragraph;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd > a {
    @apply relative before:content-[""] before:absolute before:h-3 before:w-3 before:block before:top-0 before:bottom-0 before:right-4 before:bg-[url("../img/arrow-down.svg")] before:m-auto before:transition-all sm:pr-4 lg:pr-7 xl:pr-9 2xl:pr-10;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu {
    @apply opacity-0 absolute invisible transition-all opacity-0 flex absolute w-full left-0 p-0 hidden pt-4 backdrop-blur;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper {
    @apply flex bg-blur rounded-lg w-full p-4 text-white;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper .nav-submenu-item {
    @apply p-4 list-none m-0 text-white no-underline block p-4 transition-all rounded hover:bg-contrast/50;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper .nav-menu-item-link {
    @apply p-4 block text-white no-underline hover:bg-contrast/50 rounded-lg hover:border hover:border-solid hover:border-white/10 border border-solid border-transparent;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper .nav-menu-item-link:hover .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-description .sub-menu-wrapper-description-title {
    @apply translate-x-1;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper .nav-menu-item-link:hover .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-description .sub-menu-wrapper-description-desc {
    @apply opacity-90 translate-x-1;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper .nav-menu-item-link .sub-menu-wrapper .sub-menu-wrapper-row {
    @apply flex;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper .nav-menu-item-link .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-image {
    @apply flex-none m-auto w-20 max-w-[5rem] max-h-[5rem] h-20 aspect-square bg-cover rounded mr-4;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper .nav-menu-item-link .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-description {
    @apply m-auto grow;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper .nav-menu-item-link .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-description .sub-menu-wrapper-description-title {
    @apply text-[22px] leading-10 transition-all;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd .nav-submenu .nav-submenu-wrapper .nav-menu-item-link .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-description .sub-menu-wrapper-description-desc {
    @apply opacity-50 text-xs transition-all;
  }
  .nav-website .nav-menu .nav-menu-item.nav-menu-item-dd.active > a {
    @apply before:rotate-180;
  }
  .nav-website .nav-menu .nav-menu-item.active:not(.nav-menu-item-burger) .nav-submenu {
    @apply opacity-100 visible block translate-y-0;
  }
  .nav-website .nav-menu .nav-menu-item.active:not(.nav-menu-item-burger) > .nav-menu-item-link {
    @apply relative after:content-[""] after:bottom-[-16px] after:left-0 after:right-0 after:m-auto after:absolute after:w-0 after:h-0
              after:border-solid after:border-b-contrast after:border-b-8 after:border-x-transparent after:border-x-8 after:border-t-0 after:opacity-80 after:z-50;
  }
  .nav-website .nav-menu .nav-menu-item.active:not(.nav-menu-item-burger) > .nav-menu-item-link .icon {
    @apply rotate-180;
  }
  .nav-website .nav-menu .nav-menu-item-burger {
    @apply 2xl:hidden xl:hidden lg:hidden md:block sm:block block sm:p-6 p-8 pr-4;
  }
  .nav-website .nav-menu .nav-menu-item-burger.active .burger-line {
    @apply h-[1px] bg-white absolute left-0
                  first:w-4 first:top-[50%] first:-rotate-45
                  even:w-5 even:hidden
                  last:w-4 last:top-[50%] last:rotate-45;
  }
  .nav-website .nav-menu .nav-menu-item-burger .burger {
    @apply relative h-4 w-6;
  }
  .nav-website .nav-menu .nav-menu-item-burger .burger-line {
    @apply transition-all
                  h-[1px] bg-white absolute left-0
                  first:w-4 first:top-0
                  even:w-5 even:top-[50%]
                  last:w-3 last:bottom-0;
  }
  .nav-website .nav-menu .nav-menu-item > .nav-menu-item-link {
    @apply block text-white no-underline sm:p-1 lg:p-4 xl:p-6 2xl:p-8;
  }
  .nav-website .nav-menu .nav-menu-item > .nav-menu-item-link[aria-current=page] {
    @apply opacity-50;
  }
  .nav-website .nav-menu .nav-menu-item-btn {
    @apply px-2 p-5 list-none last:pr-0 hidden sm:hidden md:hidden lg:block;
  }
  .hpblock {
    @apply flex flex-col xl:flex-row pt-32 items-center;
  }
  .hpblock .hpblock-left {
    @apply basis-full xl:basis-1/2 p-2 min-h-full relative xl:p-0 p-8 lg:p-16;
  }
  .hpblock .hpblock-left .hpblock-left-dyntext {
    @apply pt-8;
  }
  .hpblock .hpblock-left .hpblock-left-dyntext .title-home {
    @apply flex-row lg:flex-col;
  }
  .hpblock .hpblock-left .hpblock-left-dyntext .title-home .title-home-dyn {
    @apply w-full pb-[85px] lg:pb-[35px];
  }
  .hpblock .hpblock-left .hpblock-left-dyntext .title-home .title-home-dyn .splited-text {
    @apply w-full -left-[9px];
  }
  .hpblock .hpblock-left .hpblock-left-desc {
    @apply paragraph-lg pb-0 lg:pb-8 text-contrast lg:pr-32 p-0;
  }
  .hpblock .hpblock-left .hpblock-left-btn {
    @apply pb-8;
  }
  .hpblock .hpblock-right {
    @apply basis-full xl:basis-1/2 p-0 h-[calc(720px-110px)] pt-8 w-full xl:w-auto hidden xl:block;
  }
  .hpblock .hpblock-right .hpblock-right-image-1 {
    @apply relative float-right hidden;
    animation-name: floating2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes floating2 {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 1rem);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .hpblock .hpblock-right .hpblock-right-image-1 .hpblock-right-image-elt {
    @apply relative z-10 w-1/2 lg:w-[440px];
  }
  .hpblock .hpblock-right .hpblock-right-image-1 .hpblock-right-image-blurry {
    @apply blur-3xl absolute z-0 left-0 w-1/2 xl:w-[440px] translate-y-8 opacity-60;
  }
  .hpblock .hpblock-right .hpblock-right-image-2 {
    @apply relative translate-x-0 lg:-translate-x-16 translate-y-0 z-10 rounded-lg;
    animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .hpblock .hpblock-right .hpblock-right-image-2.play {
    animation-play-state: paused;
  }
  .hpblock .hpblock-right .hpblock-right-image-2.play:hover .btn-play {
    @apply block opacity-50;
  }
  .hpblock .hpblock-right .hpblock-right-image-2.play:hover .btn-play svg.pause {
    @apply block;
  }
  .hpblock .hpblock-right .hpblock-right-image-2.play:hover .btn-play svg.play {
    @apply hidden;
  }
  .hpblock .hpblock-right .hpblock-right-image-2.play .btn-play {
    @apply hidden;
  }
  @keyframes floating {
    0% {
      transform: translate(-4rem, 0rem);
    }
    50% {
      transform: translate(-5rem, 1rem);
    }
    100% {
      transform: translate(-4rem, 0rem);
    }
  }
  .hpblock .hpblock-right .hpblock-right-image-2 .hpblock-right-image-elt {
    @apply relative z-10 rounded-lg w-1/2 lg:w-full;
  }
  .hpblock .hpblock-right .hpblock-right-image-2 .hpblock-right-image-blurry {
    @apply blur-3xl absolute z-0 left-0 w-1/2 lg:w-full translate-y-8 opacity-60;
  }
  .hpblock .hpblock-right .hpblock-right-image-2 video {
    @apply rounded-lg z-10 relative;
  }
  .rgpd {
    @apply relative after:content-[""] after:h-[50%] after:absolute after:left-0 after:bg-neutral-200 after:bottom-0 after:w-full after:z-0;
  }
  .rgpd .rgpd-bg {
    @apply flex flex-row relative mt-32 z-10;
  }
  .rgpd .rgpd-bg .rgpd-bg-wrapper {
    @apply basis-1/2 p-2 bg-contrast h-[340px] content-center absolute w-full md:w-1/2 xl:w-1/2 2xl:w-1/2;
  }
  .rgpd .rgpd-bg .rgpd-bg-wrapper .rgpd-bg-pixel-1 {
    @apply bg-neutral-200 h-8 w-8 absolute bottom-0 right-8 z-0 hidden sm:hidden md:block xl:block 2xl:block;
  }
  .rgpd .rgpd-bg .rgpd-bg-wrapper .rgpd-bg-pixel-2 {
    @apply bg-neutral-200 h-8 w-8 absolute bottom-8 right-0 z-0 hidden sm:hidden md:block xl:block 2xl:block;
  }
  .rgpd .rgpd-content {
    @apply container z-10;
  }
  .rgpd .rgpd-content .rgpd-content-flex {
    @apply flex flex-col md:flex-row  items-center;
  }
  .rgpd .rgpd-content .rgpd-content-flex .rgpd-content-col {
    @apply basis-full sm:basis-1/2 p-2 min-h-full relative px-8 2xl:pr-32 text-center sm:text-right;
  }
  .rgpd .rgpd-content .rgpd-content-flex .rgpd-content-col .rgpd-title {
    @apply pt-8 h1;
  }
  .rgpd .rgpd-content .rgpd-content-flex .rgpd-content-image {
    @apply hidden sm:hidden md:block xl:block 2xl:block basis-1/2 p-2 h-[340px] pt-8 text-center;
  }
  .testimonial {
    @apply pb-2 lg:pb-6 px-8 xl:px-0 pt-2 lg:pt-6;
  }
  .testimonial .testimonial-content {
    @apply font-light text-[22px] text-xl mb-6 pt-4 text-center lg:text-left lg:pr-32;
  }
  .testimonial .testimonial-wrapper {
    @apply flex flex-col lg:flex-row;
  }
  .testimonial .testimonial-wrapper .testimonial-image {
    @apply self-center;
  }
  .testimonial .testimonial-wrapper .testimonial-image img {
    @apply h-12 aspect-square rounded-lg;
  }
  .testimonial .testimonial-wrapper .testimonial-from {
    @apply self-center ml-2 text-center lg:text-left;
  }
  .testimonial .testimonial-wrapper .testimonial-from .testimonial-from-job {
    @apply font-bold;
  }
  .pagination {
    @apply m-0 p-0;
  }
  .pagination .pagination-item {
    @apply w-3 h-1 mr-1 inline-block bg-neutral-500 rounded-full list-none;
  }
  .pagination .pagination-item.active {
    @apply bg-secondary;
  }
  .pagination .pagination-item.passed {
    @apply bg-secondary/25;
  }
  .clients {
    @apply m-0 p-0 flex flex-row items-center text-center;
  }
  .clients .client {
    @apply grow list-none lg:basis-1/6 p-4 lg:basis-1/4;
  }
  .clients .client img {
    @apply opacity-50 hover:opacity-100 sm:w-full xl:w-auto;
  }
  .possibilities-bg {
    @apply relative after:content-[""] after:h-[calc(100%-3rem)] after:absolute after:left-0 after:top-6 after:w-full after:z-0 after:bg-[url("../img/pattern.png")] after:bg-repeat after:opacity-50;
  }
  .possibilities-wrapper {
    @apply container z-10;
  }
  .possibilities-wrapper .possibilities-title {
    @apply flex flex-row justify-center items-center;
  }
  .possibilities-wrapper .possibilities {
    @apply flex flex-row items-center mt-20 pb-8 justify-center items-center;
  }
  .possibilities-wrapper .possibilities .possibility {
    @apply w-40 mr-8 last:mr-0 px-8 aspect-square bg-white border border-solid border-neutral-400 rounded-xl shadow-lg text-center;
  }
  .possibilities-wrapper .possibilities .possibility .possibility-icon {
    @apply -mt-4;
  }
  .possibilities-wrapper .possibilities .possibility .possibility-content {
    @apply flex h-16;
  }
  .possibilities-wrapper .possibilities .possibility .possibility-content .possibility-text {
    @apply paragraph-lg m-auto;
  }
  .card {
    @apply bg-white border border-solid border-neutral-400 rounded-lg p-2;
  }
  .card .card-img {
    @apply rounded h-64 bg-cover w-full;
  }
  .card .card-content {
    @apply text-center pt-4 pb-12 px-8;
  }
  .card .card-actions {
    @apply flex;
  }
  .pricing {
    @apply p-0 border border-neutral-400 border-solid text-center rounded-xl my-16;
  }
  .pricing .pricing-title {
    @apply h1 -mt-8;
  }
  .pricing .pricing-sub {
    @apply paragraph-lg my-8;
  }
  .pricing .pricing-content {
    @apply mb-12;
  }
  .pricing .pricing-content p {
    @apply paragraph-lg text-neutral;
  }
  .pricing .pricing-pricing {
    @apply py-6 bg-neutral-200 h4 rounded-b-xl font-bold;
  }
  .feature-title-wrapper {
    @apply flex flex-row;
  }
  .feature-title-wrapper .feature-title {
    @apply paragraph-lg paragraph-bold self-center;
  }
  .feature-title-wrapper .feature-title span {
    @apply text-[18px] lg:text-[24px] pl-0 lg:pl-[115px];
  }
  .features {
    @apply flex flex-row items-center rounded hover:bg-neutral-100;
  }
  .features .feature-content {
    @apply basis-8/12;
  }
  .features .feature-content .feature-content-wrapper {
    @apply flex;
  }
  .features .feature-content .feature-content-wrapper .feature-content-icon {
    @apply p-4 mt-2 ml-6 hidden sm:block;
  }
  .features .feature-content .feature-content-wrapper .feature-content-icon > img {
    @apply m-auto;
  }
  .features .feature-content .feature-content-wrapper .feature-content-content {
    @apply p-4;
  }
  .features .feature-content .feature-content-wrapper .feature-content-content .feature-content-title {
    @apply h6 font-light text-secondary leading-6 pb-2 sm:pb-0;
  }
  .features .feature-content .feature-content-wrapper .feature-content-content .feature-content-title strong, .features .feature-content .feature-content-wrapper .feature-content-content .feature-content-title b {
    @apply font-bold;
  }
  .features .feature-content .feature-content-wrapper .feature-content-content .feature-content-title > p {
    @apply m-0;
  }
  .features .feature-content .feature-content-wrapper .feature-content-content .feature-content-desc {
    @apply paragraph-lg paragraph-italic leading-6 mt-4;
  }
  .features .feature-content .feature-content-wrapper .feature-content-content .feature-content-desc > p {
    @apply m-0;
  }
  .usecase {
    @apply basis-full lg:basis-1/3 p-4 no-underline hover:scale-105 transition-all;
  }
  .usecase:hover .usecase-wrapper {
    @apply border-neutral-500;
  }
  .usecase .usecase-wrapper {
    @apply border border-neutral-300 border-solid text-center rounded-lg bg-white;
  }
  .usecase .usecase-wrapper .usecase-img {
    @apply relative p-4;
  }
  .usecase .usecase-wrapper .usecase-img .usecase-img-wrapper {
    @apply rounded-lg w-full h-[200px] bg-cover;
  }
  .usecase .usecase-wrapper .usecase-img .usecase-img-title {
    @apply absolute top-auto left-0 right-0 bottom-[-10px];
  }
  .usecase .usecase-wrapper .usecase-logo {
    @apply p-4;
  }
  .usecase .usecase-wrapper .usecase-logo > img {
    @apply max-w-[250px] max-h-[100px];
  }
  .usecase .usecase-wrapper .usecase-desc {
    @apply px-8 pb-8 paragraph-italic paragraph-lg m-0 text-neutral;
  }
  .getintouch {
    @apply flex flex-col sm:flex-col md:flex-row items-center p-16;
  }
  .getintouch .getintouch-image {
    @apply basis-full sm:basis-full md:basis-1/2 text-right p-0 md:p-8;
  }
  .getintouch .getintouch-content {
    @apply basis-full sm:basis-full md:basis-1/2 p-0 md:p-8 text-center md:text-left;
  }
  .getintouch .getintouch-content .btn-wrapper {
    @apply justify-center md:justify-normal;
  }
  .footer {
    @apply bg-neutral-200 pt-8;
  }
  .footer .footer-wrapper {
    @apply flex flex-col lg:flex-row text-center md:text-left mt-32;
  }
  .footer .footer-wrapper .footer-col {
    @apply basis-full lg:basis-1/2 w-full px-8 relative after:content-[""] after:absolute after:left-0 after:h-full after:w-[1px] after:m-auto after:bg-neutral-300 after:top-0 after:bottom-0 first:after:hidden;
  }
  .footer .footer-wrapper .footer-col .footer-col-title {
    @apply text-contrast paragraph-xs paragraph-bold p-4 relative after:content-[""] after:absolute after:left-[-34px] after:top-0 after:bottom-0 after:w-[5px] after:h-full after:bg-secondary after:z-10 after:rounded-full mb-6;
  }
  .footer .footer-wrapper .footer-col .footer-menu {
    @apply m-0 p-0;
  }
  .footer .footer-wrapper .footer-col .footer-menu .footer-menu-element {
    @apply list-none m-0 p-0;
  }
  .footer .footer-wrapper .footer-col .footer-menu .footer-menu-element .footer-menu-link {
    @apply no-underline text-contrast hover:text-secondary p-2 block paragraph relative after:content-[""] after:absolute after:bottom-2 after:left-1 after:h-[1px] after:bg-secondary after:w-0 after:transition-all hover:after:w-10;
  }
  .footer .footer-wrapper .footer-col .footer-menu.footer-social {
    @apply list-none;
  }
  .footer .footer-wrapper .footer-col .footer-menu.footer-social .footer-social-elt {
    @apply px-4 inline-block;
  }
  .footer .footer-wrapper .footer-col .footer-menu.footer-social .footer-social-elt .footer-social-link {
    @apply opacity-70 transition-all hover:opacity-100;
  }
  .loading-wrapper {
    @apply h-full w-full fixed bg-blur top-0;
  }
  .loading-wrapper .loading {
    @apply grid h-screen place-items-center;
  }
}
.intro {
  @apply bg-neutral-200 h-[540px] p-8 lg:p-0 xl:p-0 mb-16 bg-[length:100%_auto] bg-center;
}
.intro .intro-container {
  @apply container;
}
.intro .intro-container .intro-box {
  @apply bg-blur absolute -bottom-32 lg:-bottom-16 p-8 text-white w-full lg:w-1/2;
}
.intro .intro-container .intro-box .intro-title {
  @apply mt-[-4rem] mb-10 pl-4 pb-4;
}
.intro .intro-container .intro-box .intro-title .intro-title-logo {
  @apply relative;
}
.intro .intro-container .intro-box .intro-title .intro-title-logo > img {
  @apply absolute right-0 mt-16;
}
.intro .intro-container .intro-box .intro-desc {
  @apply paragraph-lg;
}
.intro .intro-container .intro-box .intro-btn {
  @apply btn-wrapper;
}
.intro .intro-container .intro-box .intro-square-1 {
  @apply bg-white h-8 w-8 absolute bottom-0 right-8 z-0;
}
.intro .intro-container .intro-box .intro-square-2 {
  @apply bg-white h-8 w-8 absolute bottom-8 right-0 z-0;
}

.explain {
  @apply flex flex-col lg:flex-row mt-32 text-center lg:text-left;
}
.explain.revert {
  @apply flex-row-reverse;
}
.explain .explain-col-1 {
  @apply basis-full lg:basis-1/2 p-4 m-auto justify-center items-center;
}
.explain .explain-col-1 p {
  @apply paragraph;
}
.explain .explain-col-2 {
  @apply basis-full lg:basis-1/2 p-4;
}
.explain .explain-col-2 > img {
  @apply rounded-xl lg:w-full w-1/2;
}

.numbers {
  @apply flex flex-row mt-32;
}
.numbers .number {
  @apply basis-1/4 text-center p-8 relative after:content-[""] after:absolute after:right-0 after:h-[50%] after:w-[1px] after:m-auto after:bg-neutral-300 after:top-0 after:bottom-0 after:last:opacity-0;
}
.numbers .number.no-border {
  @apply after:hidden;
}
.numbers .number .number-qty {
  @apply h1 text-secondary font-bold;
}
.numbers .number .number-text {
  @apply paragraph-lg;
}

h2.elementor-tab-title, .elementor-accordion .elementor-tab-title {
  font-size: 22px !important;
}

.elementor-tab-content h3 {
  font-size: 18px !important;
}

.elementor p a:not(.btn) {
  @apply no-underline text-secondary hover:text-contrast paragraph relative after:content-[""] after:absolute after:bottom-0 after:left-0 after:h-[1px] after:bg-secondary after:w-0 after:transition-all hover:after:w-full;
}

#cookie-notice {
  @apply bg-blur paragraph;
}
#cookie-notice .cn-text-container {
  @apply paragraph lg:paragraph-lg relative before:content-[""] before:absolute before:w-16 before:h-16 before:-top-[36px] lg:before:-left-[84px] before:left-[0] before:right-[0] lg:before:right-auto before:m-auto lg:before:m-0 pt-8 lg:pt-2;
}
#cookie-notice .cn-text-container:before {
  background: url("../img/cookie.svg") center center no-repeat;
  animation: cookie 4s infinite;
}
@keyframes cookie {
  0% {
    background: url("../img/cookie.svg") center center no-repeat;
  }
  25% {
    background: url("../img/cookie2.svg") center center no-repeat;
  }
  50% {
    background: url("../img/cookie3.svg") center center no-repeat;
  }
  75% {
    background: url("../img/cookie4.svg") center center no-repeat;
  }
  100% {
    background: url("../img/cookie.svg") center center no-repeat;
  }
}
#cookie-notice #cn-accept-cookie {
  @apply float-none lg:float-right inline-block btn bg-secondary hover:bg-secondary-600 px-8;
}
#cookie-notice #cn-more-info {
  @apply border-white text-white hover:bg-white/10;
}

body .helpie-faq.accordions.custom-styles .accordion .accordion__item .accordion__header .accordion__title {
  @apply font-title;
}

.btn-play-wrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 96px;
  width: 96px;
  z-index: 20;
  margin: auto;
}
.btn-play-wrapper .pause {
  @apply hidden;
}

.btn-play {
  position: relative;
  width: 6rem;
  height: 6rem;
  border: 0.2rem solid #4156f6;
  padding: 0;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.btn-play::before,
.btn-play::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.btn-play::before {
  background-color: white;
  z-index: -2;
  animation: play--ani 2s linear infinite;
}

.btn-play::after {
  background-color: #FFF;
  opacity: 0.8;
  backdrop-filter: blur(4px);
  z-index: -1;
}

@keyframes play--ani {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  25% {
    transform: scale(1.1);
    opacity: 0.2;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.3;
  }
  75% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}
.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.video-wrapper .video {
  position: relative;
  height: 100vh;
  width: calc(100vw - 15px);
}
.video-wrapper .video .video-image {
  position: absolute;
  z-index: 120;
  @apply aspect-video;
  height: auto;
  width: 40%;
  overflow: hidden;
  left: 0;
  top: 0;
  margin: auto;
  border-radius: 16px;
}
.video-wrapper .video .video-image > img {
  width: 100%;
  border-radius: 16px;
}
.video-wrapper .video .video-image.animate {
  @apply transition-all;
}
.video-wrapper .video .video-intro {
  display: none;
  position: absolute;
  z-index: 119;
  @apply aspect-video;
  height: auto;
  width: 40%;
  left: 40%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 16px;
}
.video-wrapper .video .video-overlay {
  display: none;
  position: absolute;
  z-index: 118;
  width: 100%;
  height: 100%;
  @apply bg-blur;
}

.carrousel-testimonial .owl-item {
  @apply blur transition-all opacity-75;
  float: left;
}
.carrousel-testimonial .owl-item.active {
  @apply blur-none opacity-100;
}
.carrousel-testimonial .owl-nav {
  @apply hidden;
}

div.wpforms-container-full input[type=submit]:not(:hover):not(:active), div.wpforms-container-full button[type=submit]:not(:hover):not(:active), div.wpforms-container-full .wpforms-page-button:not(:hover):not(:active) {
  @apply btn btn-secondary;
}

.owl-item {
  float: left;
}

.testimonial-wrapper {
  overflow: hidden;
}

.owl-dots {
  @apply absolute left-0 -top-4 w-full text-center lg:text-left;
}
.owl-dots .owl-dot {
  @apply w-12 lg:w-3 h-12 lg:h-1 mr-1 inline-block bg-neutral-500 rounded-lg lg:rounded-full border-none;
}
.owl-dots .owl-dot.active {
  @apply bg-secondary;
}
.owl-dots .owl-dot.passed {
  @apply bg-secondary/25;
}

.splited-text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  display: inline-block;
  @apply absolute left-0 w-full top-0;
}

.splited-text .char {
  transition: transform 0.5s;
}

body .helpie-faq.accordions .accordion .accordion__item .accordion__header {
  @apply font-title;
}

body .helpie-faq.accordions.custom-styles .accordion .accordion__item .accordion__body {
  @apply paragraph-lg;
}

.nav-website-mobile {
  @apply hidden absolute w-full bg-blur rounded-lg z-50 mt-2 right-0 p-4 text-right;
}
.nav-website-mobile.active {
  @apply block;
}
.nav-website-mobile .nav-menu-mobile {
  @apply py-0 px-6 m-0;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile {
  @apply self-center list-none pr-4;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile.nav-menu-item-dd {
  @apply relative after:content-[""] after:absolute after:h-3 after:w-3 after:block after:top-0 after:top-4 after:right-0 after:bg-[url("../img/arrow-down.svg")] transition-all;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile.nav-menu-item-dd.active {
  @apply after:rotate-180;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile .nav-menu-item-link {
  @apply text-white no-underline p-3 block;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile .nav-submenu {
  @apply hidden;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile .nav-submenu.active {
  @apply block;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile .nav-submenu .nav-submenu-wrapper {
  @apply p-0 opacity-50 pb-4;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile .nav-submenu .nav-submenu-wrapper .nav-menu-item-mobile {
  @apply p-0;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile .nav-submenu .nav-submenu-wrapper .nav-menu-item-mobile .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-image {
  @apply hidden;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile .nav-submenu .nav-submenu-wrapper .nav-menu-item-mobile .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-description .sub-menu-wrapper-description-title {
  @apply paragraph;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-mobile .nav-submenu .nav-submenu-wrapper .nav-menu-item-mobile .sub-menu-wrapper .sub-menu-wrapper-row .sub-menu-wrapper-description .sub-menu-wrapper-description-desc {
  @apply hidden;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-btn {
  @apply list-none py-2;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-btn a {
  @apply text-center block;
}
.nav-website-mobile .nav-menu-mobile .nav-menu-item-burger {
  @apply hidden;
}

/*
a {
  position: relative;
  text-decoration: none;
  color: #4156F6;
  &:hover {
    &:after {
      transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
      width: 100%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%234156F6' id='svg_line' d='m 1.986 8.91 c 55.429038 4.081 111.58111 5.822 167.11781 2.867 22.70911 -1.208 45.39828 -0.601 68.126 -0.778 28.38173 -0.223 56.76079 -1.024 85.13721 -1.33 24.17379 -0.261 48.42731 0.571 72.58115 0.571'%3E%3C/path%3E%3C/svg%3E");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
*/

/*# sourceMappingURL=index.css.map */
