/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;


@layer base {

}

@layer utilities {

}

@layer components {

}



/*
a {
  position: relative;
  text-decoration: none;
  color: #4156F6;
  &:hover {
    &:after {
      transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
      width: 100%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%234156F6' id='svg_line' d='m 1.986 8.91 c 55.429038 4.081 111.58111 5.822 167.11781 2.867 22.70911 -1.208 45.39828 -0.601 68.126 -0.778 28.38173 -0.223 56.76079 -1.024 85.13721 -1.33 24.17379 -0.261 48.42731 0.571 72.58115 0.571'%3E%3C/path%3E%3C/svg%3E");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
*/