/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;
/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;
/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;
/**
 * Use this directive to control where Tailwind injects the hover, focus,
 * responsive, dark mode, and other variants of each class.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind variants;
@layer base {
  * {
    @apply tw-box-border;
  }
  html, body {
    @apply tw-text-contrast tw-font-main tw-p-0 tw-m-0 tw-box-border;
  }
  .paragraph {
    @apply tw-text tw-font-regular;
  }
  .paragraph-xxs {
    @apply tw-text-xxs;
  }
  .paragraph-xs {
    @apply tw-text-xs;
  }
  .paragraph-sm {
    @apply tw-text-sm;
  }
  .paragraph-lg {
    @apply tw-text-lg;
  }
  .paragraph-bold {
    @apply tw-font-bold;
  }
  .paragraph-italic {
    @apply tw-italic;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply tw-font-title tw-m-0 tw-uppercase;
  }
  h1 .underline, h2 .underline, h3 .underline, h4 .underline, h5 .underline, h6 .underline,
  .h1 .underline, .h2 .underline, .h3 .underline, .h4 .underline, .h5 .underline, .h6 .underline {
    position: relative;
  }
  h1 .underline:after, h2 .underline:after, h3 .underline:after, h4 .underline:after, h5 .underline:after, h6 .underline:after,
  .h1 .underline:after, .h2 .underline:after, .h3 .underline:after, .h4 .underline:after, .h5 .underline:after, .h6 .underline:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 5px;
    display: block;
    background-image: url(src/img/underline.svg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  h1 .highlight, h2 .highlight, h3 .highlight, h4 .highlight, h5 .highlight, h6 .highlight,
  .h1 .highlight, .h2 .highlight, .h3 .highlight, .h4 .highlight, .h5 .highlight, .h6 .highlight {
    position: relative;
    z-index: 3;
  }
  h1 .highlight:after, h2 .highlight:after, h3 .highlight:after, h4 .highlight:after, h5 .highlight:after, h6 .highlight:after,
  .h1 .highlight:after, .h2 .highlight:after, .h3 .highlight:after, .h4 .highlight:after, .h5 .highlight:after, .h6 .highlight:after {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    margin: auto;
    width: 110%;
    height: 110%;
    display: block;
    background-image: url(src/img/hightlight.svg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: 0;
  }
  h1 .highlight span, h2 .highlight span, h3 .highlight span, h4 .highlight span, h5 .highlight span, h6 .highlight span,
  .h1 .highlight span, .h2 .highlight span, .h3 .highlight span, .h4 .highlight span, .h5 .highlight span, .h6 .highlight span {
    @apply tw-relative tw-z-10;
  }
  h1, .h1 {
    @apply tw-text-[44px] tw-leading-10;
  }
  h2, .h2 {
    @apply tw-text-[40px] tw-leading-10;
  }
  h3, .h3 {
    @apply tw-text-[36px] tw-leading-10;
  }
  h4, .h4 {
    @apply tw-text-[32px];
  }
  h5, .h5 {
    @apply tw-text-[28px];
  }
  h6, .h6 {
    @apply tw-text-[24px];
  }
  .subtitle {
    @apply tw-text-neutral tw-text tw-text-center tw-m-0;
  }
}
@layer utilities {
  .bg-blur {
    @apply tw-bg-contrast/80 tw-backdrop-blur;
  }
  .block {
    @apply tw-shadow-lg tw-rounded-lg hover:tw-shadow-sm tw-transition-all hover:tw-translate-y-1;
  }
  .block .block-image {
    @apply tw-transition-all tw-min-h-[240px] tw-w-full tw-bg-[length:100%_auto] tw-bg-center tw-rounded;
  }
  .block:hover .h1, .block:hover .h2, .block:hover .h3, .block:hover .h4, .block:hover .h5, .block:hover .h6 {
    @apply tw-text-secondary;
  }
  .block:hover .block-image {
    @apply tw-bg-[length:110%_auto];
  }
  .block .h1, .block .h2, .block .h3, .block .h4, .block .h5, .block .h6 {
    @apply -tw-mt-4 tw-transition-all;
    text-shadow: 8px 8px #fff, -8px -8px #fff, 8px -8px #fff, -8px 8px #fff, 7px 7px #fff, -7px -7px #fff, 7px -7px #fff, -7px 7px #fff, 6px 6px #fff, -6px -6px #fff, 6px -6px #fff, -6px 6px #fff, 5px 5px #fff, -5px -5px #fff, 5px -5px #fff, -5px 5px #fff, 4px 4px #fff, -4px -4px #fff, 4px -4px #fff, -4px 4px #fff, 3px 3px #fff, -3px -3px #fff, 3px -3px #fff, -3px 3px #fff, 2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }
  .block p {
    @apply paragraph-lg tw-px-6 tw-text-contrast/80 hover:tw-text-contrast;
  }
  .cursor {
    @apply tw-cursor-pointer tw-fixed tw-z-50 tw-left-0 tw-top-0 tw-pointer-events-none tw-will-change-transform tw-mix-blend-difference;
  }
  @media (hover: hover) and (pointer: fine) {
    .cursor .cursor__circle {
      @apply tw-w-8 tw-h-8 tw-mt-[-50%] tw-ml-[-50%] tw-rounded-full tw-border tw-border-solid tw-border-neutral-300/65;
      transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }
    .cursor.arrow {
      @apply after:tw-content-[""] after:tw-absolute after:tw-left-[-50%] after:tw-top-[-50%] after:tw-w-full after:tw-h-full after:tw-bg-[url("https://svgshare.com/i/MzQ.svg")] after:tw-bg-no-repeat after:tw-bg-center;
    }
    .cursor.arrow .cursor__circle {
      @apply tw-w-16 tw-h-16 tw-rounded-xl tw-border-secondary tw-cursor-pointer;
    }
    .cursor.subtle .cursor__circle {
      @apply tw-opacity-20;
    }
    .cursor.overlay .cursor__circle {
      @apply tw-w-6 tw-h-6 tw-bg-contrast/10 tw-border-transparent;
    }
  }
}
@layer components {
  .btn {
    @apply tw-p-3 tw-rounded tw-inline-block tw-text-center tw-text-base tw-text-neutral-100 tw-bg-contrast tw-font-main tw-font-regular tw-no-underline tw-flex tw-items-center;
  }
  .btn.btn-inline-block {
    @apply tw-inline-block;
  }
  .btn > *:nth-child(2) {
    @apply tw-pl-2;
  }
  .btn.btn-primary {
    @apply tw-bg-primary;
  }
  .btn.btn-secondary {
    @apply tw-bg-secondary hover:tw-bg-secondary-600;
  }
  .btn.btn-contrast {
    @apply tw-bg-contrast;
  }
  .btn.btn-neutral {
    @apply tw-bg-neutral hover:tw-bg-neutral-800;
  }
  .btn.btn-danger {
    @apply tw-bg-danger hover:tw-bg-danger-800;
  }
  .btn.btn-warning {
    @apply tw-bg-warning hover:tw-bg-warning-600;
  }
  .btn.btn-success {
    @apply tw-bg-success hover:tw-bg-success-800;
  }
  .btn.btn-light {
    @apply tw-bg-white tw-text-contrast hover:tw-bg-neutral-100;
  }
  .btn.btn-border {
    @apply tw-border tw-border-solid tw-bg-transparent;
  }
  .btn.btn-border.btn-primary {
    @apply tw-border-primary tw-text-primary;
  }
  .btn.btn-border.btn-secondary {
    @apply tw-border-secondary tw-text-secondary hover:tw-bg-secondary-600/10;
  }
  .btn.btn-border.btn-contrast {
    @apply tw-border-contrast tw-text-contrast;
  }
  .btn.btn-border.btn-neutral {
    @apply tw-border-neutral tw-text-neutral hover:tw-bg-neutral-800/10;
  }
  .btn.btn-border.btn-danger {
    @apply tw-border-danger tw-text-danger hover:tw-bg-danger-800/10;
  }
  .btn.btn-border.btn-warning {
    @apply tw-border-warning tw-text-warning hover:tw-bg-warning-600/10;
  }
  .btn.btn-border.btn-success {
    @apply tw-border-success tw-text-success hover:tw-bg-success-800/10;
  }
  .btn.btn-border.btn-light {
    @apply tw-border-white tw-text-white hover:tw-bg-neutral-100;
  }
  .btn.btn-ghost {
    @apply tw-border-none tw-bg-transparent;
  }
  .btn.btn-ghost.btn-primary {
    @apply tw-text-primary;
  }
  .btn.btn-ghost.btn-secondary {
    @apply tw-text-secondary hover:tw-bg-secondary-600/10;
  }
  .btn.btn-ghost.btn-contrast {
    @apply tw-text-contrast;
  }
  .btn.btn-ghost.btn-neutral {
    @apply tw-text-neutral hover:tw-bg-neutral-800/10;
  }
  .btn.btn-ghost.btn-danger {
    @apply tw-text-danger hover:tw-bg-danger-800/10;
  }
  .btn.btn-ghost.btn-warning {
    @apply tw-text-warning hover:tw-bg-warning-600/10;
  }
  .btn.btn-ghost.btn-success {
    @apply tw-text-success hover:tw-bg-success-800/10;
  }
  .btn.btn-ghost.btn-light {
    @apply tw-text-white hover:tw-bg-neutral-100;
  }
  .btn.btn-border.btn-primary .btn-label, .btn.btn-ghost.btn-primary .btn-label {
    @apply tw-text-primary;
  }
  .btn.btn-border.btn-secondary .btn-label, .btn.btn-ghost.btn-secondary .btn-label {
    @apply tw-text-secondary;
  }
  .btn.btn-border.btn-contrast .btn-label, .btn.btn-ghost.btn-contrast .btn-label {
    @apply tw-text-contrast;
  }
  .btn.btn-border.btn-neutral .btn-label, .btn.btn-ghost.btn-neutral .btn-label {
    @apply tw-text-neutral;
  }
  .btn.btn-border.btn-danger .btn-label, .btn.btn-ghost.btn-danger .btn-label {
    @apply tw-text-danger;
  }
  .btn.btn-border.btn-warning .btn-label, .btn.btn-ghost.btn-warning .btn-label {
    @apply tw-text-warning;
  }
  .btn.btn-border.btn-success .btn-label, .btn.btn-ghost.btn-success .btn-label {
    @apply tw-text-success;
  }
  .btn.btn-border.btn-light .btn-label, .btn.btn-ghost.btn-light .btn-label {
    @apply tw-text-neutral-100;
  }
  .btn.btn-lg {
    @apply tw-text-lg tw-p-3;
    @apply tw-text-lg tw-p-3;
  }
  .btn.btn-sm {
    @apply tw-text-sm tw-p-2;
  }
  .btn.btn-xs {
    @apply tw-text-xs tw-p-1;
  }
  .btn .btn-label {
    @apply tw-self-center tw-text-white;
  }
  .btn .btn-icon, .btn .notification {
    @apply tw-self-center;
  }
  .input-text {
    @apply tw-text-contrast tw-border tw-border-neutral-400 tw-p-1.5 tw-rounded tw-text tw-font-bold;
  }
  .input-text-lg {
    @apply tw-p-3 tw-rounded-md tw-text-lg;
  }
  .input-text-sm {
    @apply tw-p-1 tw-rounded tw-text-sm;
  }
  .input-checkbox {
    @apply tw-appearance-none tw-relative tw-top-0 tw-right-0 tw-bottom-0 tw-left-0 tw-h-5 tw-w-5 tw-bg-white tw-border tw-border-solid tw-border-neutral-400 tw-p-0 tw-text-contrast tw-inline-block tw-outline-none tw-rounded-sm
    before:tw-transition-all before:tw-absolute  before:tw-content-[""] before:tw-bg-transparent before:tw-h-0 before:tw-w-0 before:tw-top-[10px] before:tw-left-[10px]
    after:tw-transition-all after:tw-absolute  before:tw-content-[""] before:tw-bg-transparent before:tw-h-0 before:tw-w-0 before:tw-top-[10px] before:tw-left-[10px]

    checked:before:tw-rounded-sm checked:before:tw-top-[-1px] checked:before:tw-left-[-1px] checked:tw-border-contrast checked:before:tw-bg-contrast checked:before:tw-h-5 checked:before:tw-w-5 checked:before:tw-content-[""] checked:before:tw-absolute

    disabled:tw-opacity-35 disabled:tw-cursor-not-allowed;
  }
  .notification {
    @apply tw-aspect-square tw-w-6 tw-h-6 tw-bg-contrast tw-rounded-full paragraph-bold tw-text-center tw-flex  tw-items-center;
  }
  .notification > .notification-value {
    @apply tw-text-neutral-100 tw-block tw-self-center tw-w-full;
  }
  .notification-lg {
    @apply tw-aspect-square tw-w-8 tw-h-8 paragraph-lg;
  }
  .notification-sm {
    @apply tw-aspect-square tw-w-5 tw-h-5 paragraph-xs;
  }
  .notification-sm > .notification-value {
    @apply tw-pt-0;
  }
  .notification-xs {
    @apply tw-aspect-square tw-w-4 tw-h-4 paragraph-xxs;
  }
  .notification-xs > .notification-value {
    @apply tw-pt-0;
  }
  .notification-xxs {
    @apply tw-aspect-square tw-w-2 tw-h-2;
  }
  .notification-4px {
    @apply tw-aspect-square tw-w-1 tw-h-1;
  }
  .notification-primary {
    @apply tw-bg-primary;
  }
  .notification-secondary {
    @apply tw-bg-secondary;
  }
  .notification-danger {
    @apply tw-bg-danger;
  }
  .notification-success {
    @apply tw-bg-success;
  }
  .notification-warning {
    @apply tw-bg-warning;
  }
  .notification-light {
    @apply tw-bg-white;
  }
  .notification-light > .notification-value {
    @apply tw-text-contrast;
  }
  .notification-border {
    @apply tw-border tw-border-solid tw-bg-transparent;
  }
  .notification-border > .notification-value {
    @apply tw-text-contrast;
  }
  .notification-border.notification-primary {
    @apply tw-border-primary;
  }
  .notification-border.notification-primary > .notification-value {
    @apply tw-text-primary;
  }
  .notification-border.notification-secondary {
    @apply tw-border-secondary hover:tw-bg-secondary-600/10;
  }
  .notification-border.notification-secondary > .notification-value {
    @apply tw-text-secondary;
  }
  .notification-border.notification-contrast {
    @apply tw-border-contrast;
  }
  .notification-border.notification-contrast > .notification-value {
    @apply tw-text-contrast;
  }
  .notification-border.notification-neutral {
    @apply tw-border-neutral hover:tw-bg-neutral-800/10;
  }
  .notification-border.notification-neutral > .notification-value {
    @apply tw-text-neutral;
  }
  .notification-border.notification-danger {
    @apply tw-border-danger hover:tw-bg-danger-800/10;
  }
  .notification-border.notification-danger > .notification-value {
    @apply tw-text-danger;
  }
  .notification-border.notification-warning {
    @apply tw-border-warning hover:tw-bg-warning-600/10;
  }
  .notification-border.notification-warning > .notification-value {
    @apply tw-text-warning;
  }
  .notification-border.notification-success {
    @apply tw-border-success hover:tw-bg-success-800/10;
  }
  .notification-border.notification-success > .notification-value {
    @apply tw-text-success;
  }
  .notification-border.notification-light {
    @apply tw-border-white hover:tw-bg-neutral-200/10;
  }
  .notification-border.notification-light > .notification-value {
    @apply tw-text-white;
  }
  .chip {
    @apply tw-py-1 tw-px-2 tw-rounded tw-bg-contrast tw-text-white tw-flex tw-items-center;
  }
  .chip-lg {
    @apply tw-text-lg;
  }
  .chip-sm {
    @apply tw-text-sm tw-p-0 tw-px-2 tw-rounded-sm;
  }
  .chip-xs {
    @apply tw-text-xs tw-p-0 tw-px-1 tw-rounded-sm;
  }
  .chip.chip-primary {
    @apply tw-bg-primary;
  }
  .chip.chip-secondary {
    @apply tw-bg-secondary hover:tw-bg-secondary-600;
  }
  .chip.chip-contrast {
    @apply tw-bg-contrast;
  }
  .chip.chip-neutral {
    @apply tw-bg-neutral hover:tw-bg-neutral-800;
  }
  .chip.chip-danger {
    @apply tw-bg-danger hover:tw-bg-danger-800;
  }
  .chip.chip-warning {
    @apply tw-bg-warning hover:tw-bg-warning-600;
  }
  .chip.chip-success {
    @apply tw-bg-success hover:tw-bg-success-800;
  }
  .chip.chip-light {
    @apply tw-bg-neutral-100 tw-text-contrast hover:tw-bg-neutral-200;
  }
  .chip.chip-border {
    @apply tw-border tw-border-solid tw-bg-transparent;
  }
  .chip.chip-border.chip-primary {
    @apply tw-border-primary;
  }
  .chip.chip-border.chip-primary > .chip-label {
    @apply tw-text-primary;
  }
  .chip.chip-border.chip-primary > svg {
    @apply tw-stroke-primary;
  }
  .chip.chip-border.chip-secondary {
    @apply tw-border-secondary hover:tw-bg-secondary-600/10;
  }
  .chip.chip-border.chip-secondary > .chip-label {
    @apply tw-text-secondary;
  }
  .chip.chip-border.chip-secondary > svg {
    @apply tw-stroke-secondary;
  }
  .chip.chip-border.chip-contrast {
    @apply tw-border-contrast;
  }
  .chip.chip-border.chip-contrast > .chip-label {
    @apply tw-text-contrast;
  }
  .chip.chip-border.chip-contrast > svg {
    @apply tw-stroke-contrast;
  }
  .chip.chip-border.chip-neutral {
    @apply tw-border-neutral hover:tw-bg-neutral-800/10;
  }
  .chip.chip-border.chip-neutral > .chip-label {
    @apply tw-text-neutral;
  }
  .chip.chip-border.chip-neutral > svg {
    @apply tw-stroke-neutral;
  }
  .chip.chip-border.chip-danger {
    @apply tw-border-danger hover:tw-bg-danger-800/10;
  }
  .chip.chip-border.chip-danger > .chip-label {
    @apply tw-text-danger;
  }
  .chip.chip-border.chip-danger > svg {
    @apply tw-stroke-danger;
  }
  .chip.chip-border.chip-warning {
    @apply tw-border-warning hover:tw-bg-warning-600/10;
  }
  .chip.chip-border.chip-warning > .chip-label {
    @apply tw-text-warning;
  }
  .chip.chip-border.chip-warning > svg {
    @apply tw-stroke-warning;
  }
  .chip.chip-border.chip-success {
    @apply tw-border-success hover:tw-bg-success-800/10;
  }
  .chip.chip-border.chip-success > .chip-label {
    @apply tw-text-success;
  }
  .chip.chip-border.chip-success > svg {
    @apply tw-stroke-success;
  }
  .chip.chip-border.chip-light {
    @apply tw-border-neutral-100 hover:tw-bg-neutral-200/10;
  }
  .chip.chip-border.chip-light > .chip-label {
    @apply tw-text-neutral-100;
  }
  .chip.chip-border.chip-light > svg {
    @apply tw-stroke-neutral-100;
  }
  .chip > .chip-label {
    @apply tw-self-center tw-text-white;
  }
  .chip > .notification {
    @apply tw-self-center tw-mr-2;
  }
  .chip > svg {
    @apply tw-self-center tw-mr-2 tw-w-4 tw-h-4 tw-stroke-white;
  }
  .avatar {
    @apply tw-w-10 tw-aspect-square tw-bg-cover tw-bg-center tw-rounded-md tw-block tw-bg-neutral-300 tw-relative;
  }
  .avatar > .avatar-name {
    @apply tw-top-0 tw-bottom-0 tw-left-0 tw-right-0 tw-m-auto tw-absolute  paragraph-bold tw-text-center tw-h-6;
  }
  .avatar > .notification {
    @apply tw-absolute tw-bottom-[-8px] tw-right-[-8px] tw-text-white tw-border tw-border-4 tw-border-white;
  }
  .avatar-lg {
    @apply tw-w-12;
  }
  .avatar-lg > .avatar-name {
    @apply paragraph-lg paragraph-bold tw-h-6;
  }
  .avatar-sm {
    @apply tw-w-8 tw-rounded;
  }
  .avatar-sm > .avatar-name {
    @apply paragraph-sm paragraph-bold tw-h-5;
  }
  .avatar-sm > .notification {
    @apply tw-bottom-[-6px] tw-right-[-6px];
  }
  .avatar-xs {
    @apply tw-w-7 tw-rounded;
  }
  .avatar-xs > .avatar-name {
    @apply paragraph-xs paragraph-bold  tw-h-5;
  }
  .avatar-xs > .notification {
    @apply tw-bottom-[-6px] tw-right-[-6px];
  }
  .avatar-circle {
    @apply tw-rounded-full;
  }
  .avatars {
    @apply tw-inline-block tw-ml-[20px];
  }
  .avatars .avatar-stack {
    @apply tw-inline-block tw-ml-[-20px] tw-border tw-border-4 tw-border-solid tw-border-white;
  }
  .nav-website {
    @apply bg-blur tw-rounded-lg tw-px-7 tw-py-0 tw-flex tw-relative;
  }
  .nav-website .nav-logo {
    @apply tw-flex tw-grow tw-h-9 tw-self-center;
  }
  .nav-website .nav-menu {
    @apply tw-flex tw-m-0;
  }
  .nav-website .nav-menu .nav-menu-item {
    @apply tw-self-center tw-list-none;
  }
  .nav-website .nav-menu .nav-menu-item-dd:hover .nav-menu-item-link {
    @apply tw-relative after:tw-content-[""] after:tw-bottom-[-16px] after:tw-left-0 after:tw-right-0 after:tw-m-auto after:tw-absolute after:tw-w-0 after:tw-h-0
                after:tw-border-solid after:tw-border-b-contrast after:tw-border-b-8 after:tw-border-x-transparent after:tw-border-x-8 after:tw-border-t-0 after:tw-opacity-80;
  }
  .nav-website .nav-menu .nav-menu-item-dd:hover .nav-menu-item-link .icon {
    @apply tw-rotate-180;
  }
  .nav-website .nav-menu .nav-menu-item-dd:hover .nav-submenu {
    @apply tw-opacity-100 tw-flex tw-absolute tw-w-full tw-left-0 tw-p-0 tw-visible tw-pt-4 tw-backdrop-blur;
  }
  .nav-website .nav-menu .nav-menu-item-dd:hover .nav-submenu .nav-submenu-wrapper {
    @apply bg-blur tw-rounded-lg tw-w-full tw-p-4 tw-flex tw-text-white;
  }
  .nav-website .nav-menu .nav-menu-item-dd:hover .nav-submenu .nav-submenu-wrapper .nav-submenu-item {
    @apply tw-p-4 tw-list-none tw-m-0 tw-text-white tw-no-underline tw-block tw-p-4 tw-transition-all tw-rounded hover:tw-bg-contrast/50;
  }
  .nav-website .nav-menu .nav-menu-item-dd .nav-submenu {
    @apply tw-opacity-0 tw-absolute tw-invisible tw-transition-all;
  }
  .nav-website .nav-menu .nav-menu-item-burger {
    @apply 2xl:tw-hidden xl:tw-hidden sm:tw-p-6;
  }
  .nav-website .nav-menu .nav-menu-item-burger .burger {
    @apply tw-relative tw-h-4 tw-w-6;
  }
  .nav-website .nav-menu .nav-menu-item-burger .burger-line {
    @apply tw-h-[1px] tw-bg-white tw-absolute tw-right-0
                  first:tw-w-4 first:tw-top-0
                  even:tw-w-5 even:tw-top-[50%]
                  last:tw-w-3 last:tw-bottom-0;
  }
  .nav-website .nav-menu .nav-menu-item-link {
    @apply tw-block tw-text-white tw-no-underline hover:tw-bg-white/10 sm:tw-p-1 lg:tw-p-4 xl:tw-p-6 2xl:tw-p-8;
  }
  .nav-website .nav-menu .nav-menu-item-btn {
    @apply tw-px-2 tw-p-5 tw-list-none last:tw-pr-0;
  }
  .pagination {
    @apply tw-m-0 tw-p-0;
  }
  .pagination .pagination-item {
    @apply tw-w-3 tw-h-1 tw-mr-1 tw-inline-block tw-bg-neutral-500 tw-rounded-full tw-list-none;
  }
  .pagination .pagination-item.active {
    @apply tw-bg-secondary;
  }
  .pagination .pagination-item.passed {
    @apply tw-bg-secondary/25;
  }
  .footer {
    @apply tw-bg-neutral-200 tw-pt-8;
  }
  .footer-menu {
    @apply tw-m-0 tw-p-0;
  }
  .footer-menu .footer-menu-element {
    @apply tw-list-none tw-m-0 tw-p-0;
  }
  .footer-menu .footer-menu-element .footer-menu-link {
    @apply tw-no-underline tw-text-contrast tw-p-4 tw-block paragraph;
  }
  .footer-menu .footer-menu-element.footer-menu-head {
    @apply tw-text-neutral paragraph-xs paragraph-bold tw-p-4 tw-relative after:tw-content-[""] after:tw-absolute after:tw-left-[-34px] after:tw-top-0 after:tw-bottom-0 after:tw-w-[5px] after:tw-h-full after:tw-bg-secondary after:tw-z-10 after:tw-rounded-full;
  }
}

/*# sourceMappingURL=index.css.map */
