.btn-wrapper {
    @apply flex;

    .btn {
        @apply block first:mr-0 mr-2;

        &.btn-primary,
        &.btn-secondary,
        &.btn-contrast,
        &.btn-neutral,
        &.btn-danger,
        &.btn-warning,
        &.btn-success,
        &.btn-light {
            @apply block first:ml-0 ml-2;
        }
    }
}

.btn {
    @apply px-3 py-2 rounded inline-block text-center text-base text-neutral-100 bg-contrast font-main font-normal no-underline flex items-center;

    &.btn-inline-block {
        @apply inline-block;
    }

    & > *:nth-child(2) {
        @apply pl-2;
    }

    &.btn-primary {
        @apply bg-primary;

        .btn-label {
            @apply text-white;
        }
    }

    &.btn-secondary {
        @apply bg-secondary hover:bg-secondary-600;

        .btn-label {
            @apply text-white;
        }
    }

    &.btn-contrast {
        @apply bg-contrast hover:bg-contrast-500;

        .btn-label {
            @apply text-white;
        }
    }

    &.btn-neutral {
        @apply bg-neutral hover:bg-neutral-800;

        .btn-label {
            @apply text-white;
        }
    }

    &.btn-danger {
        @apply bg-danger hover:bg-danger-800;

        .btn-label {
            @apply text-white;
        }
    }

    &.btn-warning {
        @apply bg-warning hover:bg-warning-600;

        .btn-label {
            @apply text-white;
        }
    }

    &.btn-success {
        @apply bg-success hover:bg-success-800;

        .btn-label {
            @apply text-white;
        }
    }

    &.btn-light {
        @apply bg-white text-contrast hover:bg-neutral-100;

        .btn-label {
            @apply text-contrast;
        }
    }

    &.btn-border {
        @apply border border-solid bg-transparent p-[calc(0.75rem-1px)];

        &.btn-primary {
            @apply border-primary text-primary;
        }

        &.btn-secondary {
            @apply border-secondary text-secondary hover:bg-secondary-600/10;
        }

        &.btn-contrast {
            @apply border-contrast text-contrast hover:bg-contrast/10;
        }

        &.btn-neutral {
            @apply border-neutral text-neutral hover:bg-neutral-800/10;
        }

        &.btn-danger {
            @apply border-danger text-danger hover:bg-danger-800/10;
        }

        &.btn-warning {
            @apply border-warning text-warning hover:bg-warning-600/10;
        }

        &.btn-success {
            @apply border-success text-success hover:bg-success-800/10;
        }

        &.btn-light {
            @apply border-white text-white hover:bg-white/10;
        }
    }

    &.btn-ghost {
        @apply border-none bg-transparent;

        &.btn-primary {
            @apply text-primary;
        }

        &.btn-secondary {
            @apply text-secondary hover:bg-secondary-600/10;
        }

        &.btn-contrast {
            @apply text-contrast;
        }

        &.btn-neutral {
            @apply text-neutral hover:bg-neutral-800/10;
        }

        &.btn-danger {
            @apply text-danger hover:bg-danger-800/10;
        }

        &.btn-warning {
            @apply text-warning hover:bg-warning-600/10;
        }

        &.btn-success {
            @apply text-success hover:bg-success-800/10;
        }

        &.btn-light {
            @apply text-white hover:bg-white/10;
        }
    }

    &.btn-border,
    &.btn-ghost {
        &.btn-primary .btn-label {
            @apply text-primary;
        }

        &.btn-secondary .btn-label {
            @apply text-secondary;
        }

        &.btn-contrast .btn-label {
            @apply text-contrast;
        }

        &.btn-neutral .btn-label {
            @apply text-neutral;
        }

        &.btn-danger .btn-label {
            @apply text-danger;
        }

        &.btn-warning .btn-label {
            @apply text-warning;
        }

        &.btn-success .btn-label {
            @apply text-success;
        }

        &.btn-light .btn-label {
            @apply text-neutral-100;
        }
    }

    &.btn-lg {
        @apply text-lg p-3;
    }

    &.btn-sm {
        @apply text-sm p-2;
    }

    &.btn-xs {
        @apply text-xs p-1;
    }

    .btn-label {
        @apply self-center text-white;
    }

    .btn-icon,
    .notification {
        @apply self-center;
    }
}
