.input-text {
    @apply outline-none h-13 bg-contrast hover:bg-contrast-800 focus:bg-contrast-900 border border-solid border-contrast-400 font-bold px-4 rounded-md text-base placeholder:font-normal placeholder:text-contrast-300 hover:border-secondary-500 focus:border-secondary transition-all disabled:opacity-50 disabled:bg-contrast-200;

    &.input-text-lg {
        @apply h-13 text-lg;
    }
    &.input-text-sm {
        @apply h-10 text-sm;
    }
    &.input-text-xs {
        @apply h-8 text-sm rounded;
    }
    &.input-text-light {
        @apply bg-white border-neutral-400 text-contrast placeholder:text-contrast/50 focus:border-secondary hover:bg-secondary-400 hover:bg-neutral-100 focus:bg-secondary-100 disabled:bg-neutral-200;
    }
}

.input-search {
    @apply outline-none h-13 bg-contrast hover:bg-contrast-800 focus:bg-contrast-900 border border-solid border-contrast-400 font-bold px-6 rounded-full text-base placeholder:font-normal placeholder:text-contrast-300 hover:border-secondary-500 focus:border-secondary transition-all;
    &.input-search-lg {
        @apply h-13 text-lg;
    }
    &.input-search-sm {
        @apply h-10 text-sm px-3;
    }
    &.input-search-xs {
        @apply h-8 text-sm rounded px-3;
    }
    &.input-search-light {
        @apply bg-white border-neutral-400 text-contrast placeholder:text-contrast/50 focus:border-secondary hover:bg-secondary-400 hover:bg-neutral-100 focus:bg-secondary-100;
    }
}

.input-checkbox {
    @apply appearance-none relative top-0 right-0 bottom-0 left-0 h-5 w-5 bg-white border border-solid border-neutral-400 p-0 text-contrast inline-block outline-none rounded-sm
    before:transition-all before:absolute  before:content-[''] before:bg-transparent before:h-0 before:w-0 before:top-[10px] before:left-[10px]
    after:transition-all after:absolute  before:content-[''] before:bg-transparent before:h-0 before:w-0 before:top-[10px] before:left-[10px]

    checked:before:rounded-sm checked:before:top-[-1px] checked:before:left-[-1px] checked:border-contrast checked:before:bg-contrast checked:before:h-5 checked:before:w-5 checked:before:content-[''] checked:before:absolute

    disabled:opacity-35 disabled:cursor-not-allowed;
}
