.input-text {
    @apply outline-none h-[52px] bg-contrast hover:bg-contrast-800 focus:bg-contrast-900 border border-solid border-contrast-400 font-bold px-4 rounded-md text-base placeholder:font-normal placeholder:text-contrast-300 hover:border-secondary-500 focus:border-secondary transition-all ;

    &.input-text-lg {
        @apply h-13 text-lg;
    }
    &.input-text-sm {
        @apply h-10 text-sm;
    }
    &.input-text-xs {
        @apply h-8 text-sm;
    }
}

.input-checkbox {
    @apply appearance-none relative top-0 right-0 bottom-0 left-0 h-5 w-5 bg-white border border-solid border-neutral-400 p-0 text-contrast inline-block outline-none rounded-sm
    before:transition-all before:absolute  before:content-[''] before:bg-transparent before:h-0 before:w-0 before:top-[10px] before:left-[10px]
    after:transition-all after:absolute  before:content-[''] before:bg-transparent before:h-0 before:w-0 before:top-[10px] before:left-[10px]

    checked:before:rounded-sm checked:before:top-[-1px] checked:before:left-[-1px] checked:border-contrast checked:before:bg-contrast checked:before:h-5 checked:before:w-5 checked:before:content-[''] checked:before:absolute

    disabled:opacity-35 disabled:cursor-not-allowed;
}
