@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Override Tailwind's default color palette
:root {
    --neutral-100: 0 89% 21%;
}
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.squircle,
.chip:not(.chip-border),
.btn:not(.btn-border, a) {
    --squircle-smooth: 1;
    --squircle-radius: 8px;
    mask-image: paint(squircle);
}
.btn.btn-border {
    border: none !important;
    position: relative;
}
.chip.chip-border {
    border: none !important;
    position: relative;
}
.squircle-border,
.chip-border:before,
.btn.btn-border:after
 {
    content: "";
    display: block;
    position: absolute;
    z-index:0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    --squircle-smooth: 1;
    --squircle-radius: 8px;
    mask-image: paint(squircle);
    --squircle-outline: 1.25px;
    background-color: #4156F6;
}

.squircle.squircle-sm {
    --squircle-radius: 4px;
}
.squircle.squircle-md {
    --squircle-radius: 12px;
}
.squircle.squircle-lg {
    --squircle-radius: 16px;
}
.squircle.squircle-xl {
    --squircle-radius: 24px;
}